name: Actualizar Reservas

on:
  schedule:
    - cron: "0 5 * * *"  # Se ejecuta todos los días a las 5:00 AM UTC (12:00 AM Colombia)

jobs:
  actualizar:
    runs-on: ubuntu-latest

    steps:
      - name: Llamar API de actualización de reservas
        run: |
          curl -X POST https://tu-api-en-render.com/reservas/actualizar-reservas
